<nav class="mx-auto w-11/12 bg-transparent flex justify-between py-3">
    <div class="sm:mb-0 inner">
        <a href="/" [ngClass]="{'text-white': isHomePage, 'text-black': !isHomePage}" class="text-3xl lobster-two-bold">
            Sweet Corner
        </a>
    </div>

    <div class="sm:mb-0 self-center flex items-center align-end justify-end">
        <a routerLink="/" [ngClass]="{'text-white': isHomePage, 'text-black': !isHomePage}"
            class="poppins-regular !font-regular mx-4 ">Home</a>
        <a routerLink="/menu" [ngClass]="{'text-white': isHomePage, 'text-black': !isHomePage}"
            class="poppins-regular !font-regular mx-4 ">Menu</a>
        <a routerLink="/aboutus" [ngClass]="{'text-white': isHomePage, 'text-black': !isHomePage}"
            class="poppins-regular !font-regular mx-4 ">About</a>
        <a routerLink="/contactus" [ngClass]="{'text-white': isHomePage, 'text-black': !isHomePage}"
            class="poppins-regular !font-regular mx-4 ">Contact us</a>
        <!-- <button (click)="showLoginModal()" class="ml-4 bg-gradient-to-r from-pink-600 to-fuchsia-700 rounded-md px-4 py-1 text-md text-white poppins-regular !font-regular ">
                Login
            </button> -->

        <a routerLink="/profile"
            class="flex justify-center items-center aspect-square w-8 h-8 rounded-[100%] bg-gradient-to-r from-pink-600 to-fuchsia-700">
            <i class="text-2xl text-white ri-account-circle-fill"></i>
        </a>
        <!-- <button  class="">
                <i class="text-white ri-shopping-cart-2-fill"></i>
            </button> -->
    </div>
</nav>


<div class="absolute fixed top-0 right-0 left-0 " *ngIf="showLogin">
    <app-login (loginSuccess)="showLogin = $event"></app-login>
</div>