<div class="bg-pink-200 h-screen flex justify-center align-middle items-center ">
    <div class="w-9/12 flex justify-between align-middle items-center">
        <div class="left relative">
            <div class="absolute shadow-inner drop-shadow-2xl -top-10 -right-10 bg-white circle flex justify-center align-middle items-center rounded-full px-6 py-6">
                <div class="lobster-two-regular text-[#58192D] text-2xl text-center">
                    HOT
                    <p class="text-sm">
                        NOW
                    </p>
                </div>
            </div>
            <div
                class="border squareFrame h-[26rem] w-[22rem] bg-gradient-to-r from-pink-800/70 from-50% to-50% to-white/75 flex justify-center align-middle items-center">
                <img class="h-80 w-80 drop-shadow-2xl" src="assets/donut.png" alt="">
            </div>
        </div>
        <div class="right w-1/2">
            <div class="flex flex-col mx-auto ">
                <div class="text-right title text-pink-800 lobster-two-bold text-8xl">Delightfull<br>
                    <span class="text-[#58192D]">
                        Donuts
                    </span>
                </div>
                <div class="text-right text-gray-600 text-xl tracking-widest mt-5">Cup cake is a small cake designed to
                    serve one person, which may baked in a small thin paper or aluminium cup</div>
                <div class="cta mt-4 flex justify-end">
                    <button class="text-black border border-1 border-pink-800 px-6 py-3 text-pink-800">Order
                        now</button>
                </div>
            </div>
        </div>
    </div>
</div>