<section class="grid grid-cols-2 mx-auto">
    <div class=" left flex flex-col mx-auto justify-center">
        <div class="heading text-white text-xl tracking-[1rem] mb-2">THE SPECIAL TASTE</div>
        <div class="title text-white lobster-two-bold text-8xl">Get Your <br> Own Bite Of <br> Satisfaction</div>
        <div class="text-white text-xl tracking-widest mt-5">One stop destination for all you food craving</div>
        <div class="cta mt-4">
            <button class="text-black bg-white px-6 py-3 rounded-md">Order now</button>
        </div>
    </div>
    <div class="flex items-center align-middle right mx-auto">
        <img src="assets/donut.png" alt="" srcset="">
    </div>
</section>